<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<div class="row my-2">

  <div class="col-6">
    <div class="card">
      <h5 class="card-header">Products</h5>
      <div class="card-body">
        <p class="card-text">Count: <%= @product_count%></p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <h5 class="card-header">Category</h5>
      <div class="card-body">
        <p class="card-text">Count: <%= @category_count%></p>
      </div>
    </div>
  </div>
</div>
